body{
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    margin:0;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color : rgb(70, 70, 70);
}
h2{
    color: rgb(88, 88, 88);
}
.name-highlight{
    color : rgb(24, 187, 45);
}
a{
    text-decoration : none;
    color:rgb(24, 187, 45);
    font-weight: bold;
}
p a:hover{
    color : rgb(168, 0, 0);
}
.left-align{
    float:left;
    width : 40%;
    margin-left:5%;
    padding-left:2%;
}
section{
    height : 500px;
    background-repeat: no-repeat;
}
.left-align img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(24,187, 45), rgb(84, 221, 139));
    color : white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight:bolder;
}
.button-link:hover{
    background-image: linear-gradient(180deg, rgb(16, 107, 29), rgb(37, 143, 79));
}